body {
	margin: 0;
	padding: 0;
	background-color: rgb(233, 234, 237);
}

.bg {
	display: block;
	width: 100%;
	height: 58vw;
	margin-bottom: -10%;
	overflow: hidden;
	z-index: 0 !important;
	background-image: url(../images/wor_bg.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.bg img {
	width: 100%;
	min-height: 100%;
	z-index: 0;
}

.home-text {
	position: absolute;
	top: 10vmin;
	left: 10vmin;
	color: white;
	line-height: 1;
	font-size: 3.5em;
}

.home-text, .navblocks, .container {
	opacity: 0;
	margin-top: -10px;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.menu-container {
	display: none;
}

.home-tag {
	opacity: 0.85;
	font-size: 0.5em;
}

.navblocks {
	position: absolute;
	top: 10vmin;
	right: 10vmin;
	text-align: right;
}

.navblock {
	display: inline-block;
	padding: 10px;
	font-weight: bold;
	text-align: right;
	color: white;
	opacity: 0.8;
}

.navblock:hover {
	opacity: 1;
}

.news-links {
	margin-top: 20px;
}

.news-links img {
	max-width: 100%;
	height: 80px;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	opacity: 0.8;
}
.news-links img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	opacity: 1;
}

#services img {
	display: block;
	float: center;
	height: 50px;
}


#services span {
	padding-left: 25px;
}

#gallery {
	padding-top: 30px;
}

#gallery .row {
	margin-bottom: 0 !important;
}

.team-member {
	display: block;
	padding: 5px !important;
	width: 20vw;
}

.team-member .card-content {
	padding: 10px;
}

.team-member-bg {
	width: 100%;
	height: 100px;
	margin-bottom: -60px;
}

.team-member img {
	display: inline-block;
	width: 120px;
	height: 120px;
}

.team-member #social-media {
	width: 50px !important;
	height: 50px !important;
	margin: 10px !important;
}

.team-member-info {
	display: none;
	transition: opacity .4s ease-in-out;
}

.expandable-card #social-media {
	width: 50px !important;
	height: 50px !important;
	margin: 10px !important;	
}

#core-gallery-row {
	display: flex;
	width: 80%;
}

#tech-gallery-row {
	margin-left: 0%;
	display: flex;
	width: 80%;
	overflow-x: scroll;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}

#tech-gallery-row::-webkit-scrollbar, #core-gallery-row::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}


.gallery {
	display: inline-block;
}

.expandable-card img {
	display: inline-block;
	width: 120px;
	height: 120px;	
}

.expandable-card, .expandable-card-contents {
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}

.next-core, .prev-core {
	display: none;
}

.timeline-content .card-title {
	line-height: 1 !important;
}

.timeline-content p {
	padding-top: 10px;
}

.carousel img {
	min-height: auto;
	width:100%;
}

.carousel a {
	width: 400px !important;
}

.slider {
	height: auto !important;
}

.slider .slides, .slider li, .photos {
	max-height: 57vw !important;
}

.sending-mail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	margin: 0;
}

.member {
	padding: 10px !important;
}

.member img {
	width: 100%;
	padding: 15px 0px 5px 0px;  
}

.footer-email i {
	transform: translateY(30%);
}

.menu_ic {
	display: none !important;
}

.footer-icons {
	display: inline-block;
	padding: 5px;
}

.social-media-logo{
	height: 35px;
	width: 35px;
}

@media only screen and (max-width : 720px) {

	.container, footer, .footer-email {
		text-align: center !important;
	}

	.bg {
		width: 100%;
		height: 133.33vw;
		background-image: url(../images/wor_bg_mob.jpg);
	}

	.home-text {
		font-size: 11.5vw;
	}

	.navblocks {
		display: none;
	}

	.menu_ic {
		display: inherit !important;
		position: absolute;
		top: 10vmin;
		left: 90vmin;
		color: white;
	}

	.menu-container {
		display: none;
		position: absolute;
		top: 0;
		left: 0;	
		width: 100%;
		height: 50%;
		border-radius: 1px;
	}
	
	.menu {
		display: inline-block;
		position: absolute;
		vertical-align: middle;
		width: 50px;
		height: 50px;
		border-radius: 50px;
		transition: transform .4s ease-in-out;
		-webkit-transition: transform .4s ease-in-out;
		-o-transition: transform .4s ease-in-out;
		background-color: #fff;
	}

	.news-links img {
		-webkit-filter: grayscale(0);
		filter: grayscale(0);
		opacity: 1;
	}

	#services {
		text-align: center;
	}

	#services span {
		padding-top: 5px;
		padding-left: 0;
	}

	.row {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.container {
		width: 100% !important;
	}

	.close {
		position: absolute;
		left: 90vmin;
		top: 5vmin;
	}

	.menu-list {
		position: absolute;
		top: 20vmin;
		left: 5vmin;
		font-size: 1.2em;
	}

	.link {
		margin-bottom: 20px !important;
	}
	
	#core-gallery-row {
		overflow-x: scroll;
	}

	.team-member {
		width: 65vw;
	}
	
	.next-core, .prev-core {
		display: inline-block;
	}

	.button-container {
		display: inline-block;
	}

	.social-media-logo {
		height: 20px;
		width: 20px;
	}
}