body{
	margin: 0;
	padding: 0;
	background-color: rgb(233, 234, 237);
	margin-top: 100vh;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	vertical-align: middle;
	width: 100%;
	height: 120%;
	overflow: hidden;
	z-index: 0 !important;
}

.bg img {
	position: relative;
	top: 50%;
	left: 50%;
	width: 100%;
	min-height: 100%;
	z-index: 0;
	transform: translate(-50%, -50%);
}

.home-text {
	position: absolute;
	top: 10vmin;
	left: 10vmin;
	color: white;
	line-height: 1;
	font-size: 4em;
}

.home-text, .navblocks {
	opacity: 0;
	margin-top: -10px;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.home-tag {
	opacity: 0.85;
	font-size: 0.5em;
}

.navblocks {
	position: absolute;
	top: 10vmin;
	right: 10vmin;
	text-align: right;
}

.navblock {
	display: inline-block;
	padding: 10px;
	font-weight: bold;
	text-align: right;
	color: white;
	opacity: 0.8;
}

.navblock:hover {
	opacity: 1;
}

.news-links {
	margin-top: 20px;
}

.news-links img {
	max-width: 100%;
	height: 80px;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	opacity: 0.8;
}

.news-links img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	opacity: 1;
}

#services img {
	display: block;
	float: center;
	height: 50px;
}

#gallery {
	padding-top: 30px;
}

#gallery .row {
	margin-bottom: 0 !important;
}

.team-member {
	display: block;
	padding: 5px !important;
}

.team-member .card-content {
	padding: 10px;
}

.team-member-bg {
	width: 100%;
	height: 100px;
	margin-bottom: -60px;
}

.team-member img {
	display: inline-block;
	width: 120px;
	height: 120px;
}

.team-member #social-media {
	width: 50px !important;
	height: 50px !important;
	margin: 10px !important;
}