body{
	margin: 0;
	padding: 0;
	background-color: rgb(233, 234, 237);
}

.bg {
	margin-top: -5%;
	width: 100%;
}

.home-text {
	position: absolute;
	top: 10vmin;
	left: 10vmin;
	color: white;
	line-height: 1;
	font-size: 4em;
}

.home-text, .navblocks {
	opacity: 0;
	margin-top: -10px;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.home-tag {
	opacity: 0.85;
	font-size: 0.5em;
}

.navblocks {
	position: absolute;
	top: 10vmin;
	right: 10vmin;
	text-align: right;
}

.navblock {
	display: inline-block;
	padding: 10px;
	font-weight: bold;
	text-align: right;
	color: white;
	opacity: 0.8;
}

.navblock:hover {
	opacity: 1;
}

.news-links {
	margin-top: 20px;
}

.news-links img {
	max-width: 100%;
	height: 80px;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	opacity: 0.8;
}

.news-links img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	opacity: 1;
}

#services img {
	display: block;
	float: center;
	height: 50px;
}